<!Doctype html>
<html>
  <head>
    <title> Create Page </title>
  </head>
  <body>
    <h1> {{user_id}}'s Blogs </h1>
    <br>
    <h4> Start writing your blog: </h4>
    <form action="/edit/{{ id }}" method="POST">
    <div class="form-group">
        <label for="title">Title:</label>
      <br>
        <input type="text" name="title"
               placeholder="Post title" class="form-control"
               value="{{ title }}">
    </div>

    <div class="form-group">
      <label for="content">Content:</label>
      <br>
        <textarea name="content" placeholder="Post content" class="form-control" cols=40 rows=10 required>{{ content }}</textarea>
    </div>
    <div class="form-group">
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

  </body>
</html>
