<!--
    HeistLEET
    Rohan Sen, Haowen Xiao, Anoul(Araf) Hoque, Michelle Chen
    SoftDev 2025
    time spent: 1 hrs
  -->
<!Doctype html>
<html>
  <head>
    <title> {{ username }}'s homepage </title>
  </head>
  <body>

    <h1> WELCOME, {{ username }}</h1>

    <h2>
      Go make some blogs or read some!
    </h2>
    <button onclick="location.href='/new'">Create New Blog</button>
    <button onclick="location.href='/account/{{ username }}'">View My Posts</button>
    <br>

    <h2>Check Out Some Recent Posts</h2>

    {% if posts %}
    <ul>
      {% for post in posts %}
      <li>
        <a href="{{ url_for('view_post', post_id=post['id']) }}">{{ post['title'] }}</a>
          by <a href="{{ url_for("account", username = post['user_id']) }}">{{ post['user_id'] }}</a> on {{ post['timestamp'] }}
        </li>
        {% endfor %}
        {% else %}
        <p> No posts yet :(. Go write the first one </p>
        {% endif %}

        <hr>

    <h3> We value your services</h3>
    <h3>Please rate us on Piazza</h3>
    <br>
    <p> If you would like to logout, please click below </p>
	<form action="/logout" method="POST">
		<input type="submit" value="signout">
    </form>

  </body>
</html>
